<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testCase.LoginTest"/>
       <class name="testCase.HomeTest"/>
       <class name="testCase.ProjectsTest"/>
       <class name="testCase.TasksTest"/>
       <class name="testCase.BugTest"/>
       <class name="testCase.LeaveTest"/>
       <class name="testCase.DashboardTest"/>
       <class name="testCase.LogoutTest"/> 
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
